* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  background: rgb(241, 241, 241);
  background: linear-gradient(
    90deg,
    rgba(241, 241, 241, 1) 0%,
    rgba(158, 187, 233, 1) 47%
  );
  padding: 10px;
  box-shadow: rgba(51, 64, 78, 0.3) 0px 0px 0px 3px;
}

body {
  background-color: #edf1ff;
}
